body {
    margin: 0;
    font-family: "Baskervville", serif;
    background-color: #1E1E1E;
    color: #D1D5DB;
}

header {
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #D1D5DB;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555; /* Darker grey on hover */
}

.title {
    padding-left: 100px; /* Decent amount of left padding */
    font-size: 2.5em;
}

.subtitle {
    padding-left: 150px; /* More left padding */
    margin-top: 50px;
    font-size: 1.5em;
}

.content {
    padding-left: 150px; /* More left padding */
    font-size: 1em;
    line-height: 1.6; /* Line spacing for readability */
    margin-bottom: 100px; /* Space below content */
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 150px; /* Left padding to align with other content */
    margin-top: 50px; /* Padding at the top of the projects section */
    padding-bottom: 65px; /* Additional padding below */
}

.project {
    padding: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.project h3 {
    margin-top: 0;
}

.project a {
    text-decoration: none;
    color: #D1D5DB;
}

.project p {
    margin: 10px 0 0;
}

.project:hover {
    background-color: #333;
    transform: scale(1.05);
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 150px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.social-icons img:hover {
    transform: scale(1.4);
    opacity: 0.8;
}

/* Contact */

.contact-section {
    text-align: center;
    padding: 50px 0;
}

.contact-photo {
    width: 150px; /* Adjust the size as needed */
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.contact-links p {
    margin: 10px 0;
}

.contact-links a {
    color: #D1D5DB;
    text-decoration: none;
}

.contact-links a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    background-color: #1E1E1E;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-left img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.footer-left img:hover {
    transform: scale(1.5);
    opacity: 0.8;
}

.footer-left a {
    display: inline-block;
}

.footer-right {
    text-align: right;
    color: #D1D5DB;
}

/* Fade-in effect */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 5s ease-out, transform 5s ease-out;
}

.fade-in-visible {
    opacity: 1;
    transform: translateY(0);
}
